.ssp{
    width: 79%;
background-color: rgb(236, 202, 156);
margin: 10px auto;
box-sizing: border-box;
display: flex;
}
.task{
  
    width: 85%;
    padding: 10px;
    box-sizing: border-box;
    
}
button{
    background-image: linear-gradient(rgb(51, 255, 0), rgb(20, 16, 223));
    border-radius: 2px;
}
