*{
  margin: 0px;
  padding: 0px;
}


.badhon>a{
 text-decoration: none;
 text-align: center;
 color: white;
 margin: 0px 20px;
}
.badhon{
  background-image: linear-gradient(black, rgb(201, 39, 39));
  text-align: center;
padding: 20px;
}